<ion-header>
  <ion-navbar>
	<ion-title>
    <p style="color: white; text-align: center;">{{ routeId }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<div #map #marker id="map" style="width:100%; height:40%;"></div>
<h2 style="color: #8E4585; padding-left: 30px">{{ routeId }} Route - {{ stopsPassed.length + stopsAhead.length}} stops</h2>
<ul>
  <li *ngFor = "let stopPassed of stopsPassed"><span class = 'lineGrey'></span><span class='stopsPassed'> </span>
    <div style="color: grey;"> {{ stopPassed }} </div>
  </li>
  <li *ngFor = "let stopAhead of stopsAhead"><span class = 'lineBlack'></span><span class='stopsAhead'> </span>
    <div> {{ stopAhead }} </div>
  </li>
</ul>
</ion-content>